<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.askia.android.library">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name="com.askia.android.library.base.ContainerActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name="com.askia.android.library.crash.DefaultErrorActivity"
            android:process=":error_activity" />

        <provider
            android:name=".crash.CaocInitProvider"
            android:authorities="${applicationId}.customactivityoncrashinitprovider"
            android:exported="false"
            android:initOrder="101" />
    </application>

</manifest>
