<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.askia.android.moudle.moudle_1">

    <application>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden" />
    </application>

</manifest>